.tag {
    background-color: #033194;
    border-radius: 12px;
    padding: 4px 8px;
    margin-right: 4px;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tag:hover {
    background-color: #0349a8;
}

.tag:active {
    background-color: #022d70;
}
